@use "./mixins" as m;

.mobile-nav-toggle-btn {
  font-size: 1.25rem;
  border: 1px solid rgb(213, 213, 213);
  padding: 0.25em 0.5em;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: 992px) {
    display: none;
  }

  @include m.respond(phone) {
    padding: 0.15em 0.3em;
    font-size: 1.15rem;
  }
}
