@use "./variables" as v;
@use "./mixins" as m;

// For animating the sections
section {
  transform: translateY(4.5rem);
  opacity: 0;
  transition: all 500ms ease-in;
}

section.reveal {
  transform: translateY(0);
  opacity: 1;
}

// Header
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: v.$color-1;
  z-index: 2000;

  .navbar {
    padding: 0;
    align-items: center;
    position: relative;

    ul:first-child {
      display: flex;
      gap: 0.85em;
      margin-bottom: 0;
    }

    .dropdown-icon {
      font-size: 0.8rem;
      color: rgb(114, 114, 114);
    }

    li a {
      font-size: 0.95rem;
    }

    .dropdown {
      display: none;
      background-color: white;
      animation: dropdown-open 300ms ease;
    }

    .dropdown.dropdown-open {
      display: block;
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translateX(-35%);
      width: 175px;
      height: min-content;
      overflow: hidden;
      padding: 0.25em 0.75em;
      box-shadow: 0 0 5px -1px rgb(200, 200, 200);
      border-radius: 5px;

      li {
        padding: 0.25em 1em;
        margin: 0.25em 0;
        border-bottom: 1px solid rgba(208, 208, 208, 0.65);

        &:last-child {
          border-bottom: none;
        }
      }
    }

    .mobile-nav-close-icon {
      display: none;
    }

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  .socials {
    position: relative;

    i {
      cursor: pointer;
      margin: 0 0.15em;
    }

    .search-form {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: max-content;
      background-color: white;
      padding: 0.25em 0.75em;
      border-radius: 5px;

      span:first-child {
        margin-right: 0.35em;
      }

      input {
        background-color: transparent;
        border: none;
        outline: none;

        &:focus {
          outline: none;
        }
      }

      i {
        cursor: pointer;
      }
    }

    .search-form.show-form {
      display: block;
    }
  }
}
// Header finish

// Mobile Navigation bar
.mobile-nav-active {
  @media only screen and (max-width: 992px) {
    .navbar {
      display: block;
      position: absolute;
      inset: 0 0;
      height: 100vh;
      backdrop-filter: grayscale(50%);
      background-color: rgba(0, 0, 0, 0.65);
      z-index: 1000;
      border-radius: 5px;

      ul {
        position: absolute;
        inset: 55px 15px 10px 15px;
        padding: 2em;
        border-radius: 5px;
        background-color: white;
        flex-direction: column;
        overflow-y: scroll;

        .dropdown.dropdown-open {
          top: 135px;
          left: 90px;
        }
      }

      .mobile-nav-close-icon {
        display: block;
        position: absolute;
        top: 30px;
        right: 20px;
        color: white;
      }
    }
  }
}
// Mobile Nav finish

// Hero section
.hero {
  margin-top: 90px;

  .carousel {
    &-item {
      position: relative;

      .text-container {
        padding: 1.5em;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        inset: 0 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
    img {
      min-height: 350px;
      object-fit: cover;
    }
  }
}
// Hero section finish

// Posts layout
.posts-layout {
  .post-container {
    &--1 {
      border: v.$primary-border;
      border-top: none;
      border-bottom: none;
      min-width: 50%;
    }
  }

  .trending {
    border: v.$primary-border;
    height: min-content;

    h1 {
      border-bottom: v.$primary-border;
    }

    .post-card {
      border-bottom: v.$primary-border;
    }
  }
}

// Footer upper
.footer {
  &-upper {
    background-color: v.$black-85;
    color: white;

    .list-container {
      &--1 {
        flex: 1;
      }

      &--2 {
        flex: 1;
      }
    }
  }

  &-lower {
    background-color: v.$black-95;
    color: v.$gray-3;
  }
}
