@use "./mixins" as m;

.nav-logo {
  font-size: 1.5rem;
  margin: 0;

  @include m.respond(phone) {
    font-size: 1.25rem;
  }
}

.carousel-desc,
.carousel-head {
  padding: 0 3rem;
  color: white;
}

.carousel-head {
  @include m.respond(phone) {
    padding: 0;
    font-size: 1.25rem;
  }
}

.carousel-desc {
  @include m.respond(tab-land) {
    display: none;
  }
}
