@use "./variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

section {
  margin-bottom: 5rem;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

p,
span,
a,
li,
button {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;

  &:active,
  &:hover,
  &:focus {
    color: inherit;
  }
}

.bottom-border {
  border-bottom: v.$primary-border;
}
