$color-1: #edede9;
$color-2: #d6ccc2;
$color-3: #f5ebe0;
$color-4: #e3d5ca;
$color-5: #d5bdaf;

$black-95: rgba(0, 0, 0, 0.95);
$black-75: rgba(0, 0, 0, 0.75);
$black-60: rgba(0, 0, 0, 0.6);
$black-35: rgba(0, 0, 0, 0.35);
$black-15: rgba(0, 0, 0, 0.15);

$font-heading: "Roboto Slab", serif;
$font-text: "Roboto", sans-serif;

$primary-border: 1px solid $black-15;
