* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

section {
  margin-bottom: 5rem;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

p,
span,
a,
li,
button {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
a:active, a:hover, a:focus {
  color: inherit;
}

.bottom-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.upper-block {
  border-bottom: 3px solid rgba(0, 0, 0, 0.95);
}

.nav-logo {
  font-size: 1.5rem;
  margin: 0;
}
@media only screen and (max-width: 576px) {
  .nav-logo {
    font-size: 1.25rem;
  }
}

.carousel-desc,
.carousel-head {
  padding: 0 3rem;
  color: white;
}

@media only screen and (max-width: 576px) {
  .carousel-head {
    padding: 0;
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 992px) {
  .carousel-desc {
    display: none;
  }
}

.post-metadata span {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.post-metadata span.dot {
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.15em;
}

.author-name--1 {
  font-size: 1.05rem;
  color: rgba(0, 0, 0, 0.75);
}
.author-name--2 {
  font-size: 0.85rem;
}

.post-desc {
  font-size: 0.95rem;
  color: rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 576px) {
  .entrepreneurship-layout h1:first-child {
    font-size: 1.4rem !important;
  }
}

.footer-desc,
.footer-link {
  font-size: 0.9rem;
  color: rgb(222, 222, 222);
}

.footer-upper .post-metadata span {
  color: rgb(222, 222, 222);
  font-size: 0.75rem;
  font-weight: 400;
}

.footer-upper .post-title {
  font-size: 0.95rem !important;
  cursor: pointer;
}

.footer-upper .author-name--2 {
  color: rgb(222, 222, 222);
  font-size: 0.85rem;
}

@keyframes dropdown-open {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
    height: 175px;
  }
  100% {
    height: 175px;
    opacity: 1;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #edede9;
  z-index: 2000;
}
header .navbar {
  padding: 0;
  align-items: center;
  position: relative;
}
header .navbar ul:first-child {
  display: flex;
  gap: 0.85em;
  margin-bottom: 0;
}
header .navbar .dropdown-icon {
  font-size: 0.8rem;
  color: rgb(114, 114, 114);
}
header .navbar li a {
  font-size: 0.95rem;
}
header .navbar .dropdown {
  display: none;
  background-color: white;
  animation: dropdown-open 300ms ease;
}
header .navbar .dropdown.dropdown-open {
  display: block;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-35%);
  width: 175px;
  height: min-content;
  overflow: hidden;
  padding: 0.25em 0.75em;
  box-shadow: 0 0 5px -1px rgb(200, 200, 200);
  border-radius: 5px;
}
header .navbar .dropdown.dropdown-open li {
  padding: 0.25em 1em;
  margin: 0.25em 0;
  border-bottom: 1px solid rgba(208, 208, 208, 0.65);
}
header .navbar .dropdown.dropdown-open li:last-child {
  border-bottom: none;
}
header .navbar .mobile-nav-close-icon {
  display: none;
}
@media screen and (max-width: 992px) {
  header .navbar {
    display: none;
  }
}
header .socials {
  position: relative;
}
header .socials i {
  cursor: pointer;
  margin: 0 0.15em;
}
header .socials .search-form {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: max-content;
  background-color: white;
  padding: 0.25em 0.75em;
  border-radius: 5px;
}
header .socials .search-form span:first-child {
  margin-right: 0.35em;
}
header .socials .search-form input {
  background-color: transparent;
  border: none;
  outline: none;
}
header .socials .search-form input:focus {
  outline: none;
}
header .socials .search-form i {
  cursor: pointer;
}
header .socials .search-form.show-form {
  display: block;
}

@media only screen and (max-width: 992px) {
  .mobile-nav-active .navbar {
    display: block;
    position: absolute;
    inset: 0 0;
    height: 100vh;
    backdrop-filter: grayscale(50%);
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1000;
    border-radius: 5px;
  }
  .mobile-nav-active .navbar ul {
    position: absolute;
    inset: 55px 15px 10px 15px;
    padding: 2em;
    border-radius: 5px;
    background-color: white;
    flex-direction: column;
    overflow-y: scroll;
  }
  .mobile-nav-active .navbar ul .dropdown.dropdown-open {
    top: 135px;
    left: 90px;
  }
  .mobile-nav-active .navbar .mobile-nav-close-icon {
    display: block;
    position: absolute;
    top: 30px;
    right: 20px;
    color: white;
  }
}

.hero {
  margin-top: 90px;
}
.hero .carousel-item {
  position: relative;
}
.hero .carousel-item .text-container {
  padding: 1.5em;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.hero .carousel img {
  min-height: 350px;
  object-fit: cover;
}

.posts-layout .post-container--1 {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top: none;
  border-bottom: none;
  min-width: 50%;
}
.posts-layout .trending {
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: min-content;
}
.posts-layout .trending h1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.posts-layout .trending .post-card {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.footer-upper {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
}
.footer-upper .list-container--1 {
  flex: 1;
}
.footer-upper .list-container--2 {
  flex: 1;
}
.footer-lower {
  background-color: rgba(0, 0, 0, 0.95);
  color: rgb(222, 222, 222);
}

.mobile-nav-toggle-btn {
  font-size: 1.25rem;
  border: 1px solid rgb(213, 213, 213);
  padding: 0.25em 0.5em;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .mobile-nav-toggle-btn {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .mobile-nav-toggle-btn {
    padding: 0.15em 0.3em;
    font-size: 1.15rem;
  }
}

.post-card {
  width: 100%;
  min-height: min-content;
}
.post-card a {
  flex: 1;
}
.post-card a img {
  width: 100%;
  object-fit: cover;
}
.post-card .post-text .author-details img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 1em;
}
.post-card .post-text .author-details .author-name {
  color: rgba(0, 0, 0, 0.95);
}
@media only screen and (max-width: 768px) {
  .post-card .post-text {
    max-width: 95% !important;
  }
}

/*# sourceMappingURL=main.css.map */
